<%- include("partials/header2")%>
        
<div id = "file">New file</div>
<div id = "toolSelector">
    <button class="btn" id="lineBtn" >LINE</button>
    <button class="btn" id="eraseBtn" >ERASE</button>
    <button class="btn" id="3dBtn" >3D</button>
    <button class="btn" id="cubeBtn" >CUBE</button>
    <button class="btn" id="selectBtn" >SELECT</button>
</div>
        
<div class="wrapper" id="wrapper">
    <div class="tools">
        <nav class="inspector">
            <div id="inspector-title">Objects</div>
            <ul id="object-list"></ul>
        </nav>
        <div class="objectInfo">
            <div id="inspector-title">Transformation</div>
            <div>
                <div class="subtitle">Position</div>
                <form class="parameters">
                    <label for="translateX">x:</label>
                    <input id="translateX" type="text"></input>
                    <label for="translateY">y:</label>
                    <input id="translateY" type="text"></input>
                    <label for="translateZ">z:</label>
                    <input id="translateZ" type="text"></input>
                </form>
            </div>
            <div>
                <div class="subtitle">Rotation</div>
                <form>
                    <label for="rotateX">x:</label>
                    <input id="rotateX" type="text"></input>
                    <label for="rotateY">y:</label>
                    <input id="rotateY" type="text"></input>
                    <label for="rotateZ">z:</label>
                    <input id="rotateZ" type="text"></input>
                </form>
            </div>
            <div>
                <div class="subtitle">Scale</div>
                <form>
                    <label for="scaleX">x:</label>
                    <input id="scaleX" type="text"></input>
                    <label for="scaleY">y:</label>
                    <input id="scaleY" type="text"></input>
                    <label for="scaleZ">z:</label>
                    <input id="scaleZ" type="text"></input>
                </form>
            </div>
        </div>
    </div>
    <div id="planner">
        <canvas id="canvas" ></canvas>
        </div>
</div>
<%- include("partials/footer2")%>