
* { margin:0; padding:0; }

html {
    height: 100%;
}

body {
    min-height: 100%;
}

#file{
    background-color: darkslategray;
    color: white;
    text-align: center;
    padding: 5px;
}

#planner{
    background-color: rgb(226, 226, 226);
    height: 850px;
    margin: 10px;
}

#toolSelector{
    background-color: lightblue;
    margin: 0px;
    height: 50px;
    text-align: center;
}

button.btn{
    display: inline-block;
    margin: 0.5em 0.1em 0.1em 0;
    padding: 0.2em 1.45em;
    border: 0.15em solid #CCCCCC;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    position: relative;
    transition: all 0.2s;
    color: black;
    background-color: #CCCCCC;
}
button.btn:hover{
    border-color: #7a7a7a;
    cursor: pointer;
}
button.btn:active{
    background-color: #999999;
}