
* { margin:0; padding:0; }

html {
    height: 100%;
}

body {
    min-height: 100%;
}

#file {
    background-color: darkslategray;
    color: white;
    text-align: center;
    padding: 5px;
}

#planner {
    background-color: rgb(226, 226, 226);
    height: 850px;
    width: 70%;
    float: left;
}

#inspector {
    background-color: rgb(200, 200, 200);
    width: 25%;
    float: left;
    margin-left: 20px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50%;
    visibility: hidden;
    display: none;
}

#global-information {
    background-color: rgb(200, 200, 200);
    width: 25%;
    float: left;
    margin-left: 20px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    height: 50%;
    visibility: visible;
    display: block;
}

#toolSelector {
    background-color: lightblue;
    margin: 0px;
    height: 50px;
    text-align: center;
}

button.btn {
    display: inline-block;
    margin: 0.5em 0.1em 0.1em 0;
    padding: 0.2em 1.45em;
    border: 0.15em solid #CCCCCC;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    position: relative;
    transition: all 0.2s;
    color: black;
    background-color: #CCCCCC;
}
button.btn:hover {
    border-color: #7a7a7a;
    cursor: pointer;
}
button.btn:active {
    background-color: #999999;
}

form {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

form label {
    text-align: right;
    display: inline-block;
    float: left;
}

form input {
    text-align: left;
    display: inline-block;
    float: right;
    width: 20%;
}

ul li {
    list-style-type: none;
    border: 3px rgb(50, 50, 50) solid;
    padding-right: 10px;
    cursor: pointer;
}