
* { margin:0; padding:0; }

html, body {
    height: 100%;
    min-height: 100%;
}

#file {
    background-color: darkslategray;
    color: white;
    text-align: center;
    padding: 5px;
}

#planner {
    grid-column-start: 2;
    background-color: rgb(49, 76, 133);
}

.wrapper {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 91%;
}

.tools {
    grid-column-start: 1;
    background-color: white;
}

.inspector {
    height: 30%;
    padding: 1em;
    padding-top: 0.5em;
    margin: 2px;
    border-radius: 5%;
    background-color: lightgrey;
    overflow: hidden;
    overflow-y: scroll;
}

.objectInfo {
    height: 30%;
    margin: 1em;
    font-family: sans-serif;
    background-color: lightgrey;
    padding: 2em;
}

#inspector-title{
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    width: 10em;
    border: solid darkgrey;
    background-color: grey;
    padding: 0.5em;
    margin: auto;
    text-align: center;
}

#toolSelector {
    background-color: lightblue;
    margin: 0px;
    height: 50px;
    text-align: center;
}

button.btn {
    display: inline-block;
    margin: 0.5em 0.1em 0.1em 0;
    padding: 0.2em 1.45em;
    border: 0.15em solid #CCCCCC;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    position: relative;
    transition: all 0.2s;
    color: black;
    background-color: #CCCCCC;
}
button.btn:hover {
    border-color: #7a7a7a;
    cursor: pointer;
}
button.btn:active {
    background-color: #999999;
}

form {
    margin: 0.3em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

form label {
    text-align: right;
    display: inline-block;
    float: left;
}

form input {
    text-align: left;
    display: inline-block;
    float: right;
    width: 20%;
}

ul li {
    list-style-type: none;
    border: 3px rgb(50, 50, 50) solid;
    padding-right: 10px;
    cursor: pointer;
}