    </body>
        <script type="text/javascript" src="https://tamats.com/projects/rendeer/editor/js/libs/gl-matrix.js"></script>
        <script type="text/javascript" src="https://tamats.com/projects/rendeer/editor/js/libs/litegl.js"></script>
        <script type="text/javascript" src="https://tamats.com/projects/rendeer/editor/js/libs/rendeer.js"></script>
        <script type="text/javascript" src="https://tamats.com/projects/rendeer/editor/js/libs/rendeer-extended.js"></script>

        <script type="text/javascript" src="https://tamats.com/projects/rendeer/editor/js/gizmo.js"></script>
        <script type="text/javascript" src="/js/code.js"></script>
    </body>
</html>